
.row1 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row2 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row3 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row4 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row5 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row6 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row7 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}

.row8 td {
	height: 50px;
	width: 50px;
	border-width: 5px;
	border-style: solid;
	border-color: blue;
	background-color: black;

}


/*.cell1 {
	height: 50px;
	width: 50px;
	border-width: 5px;
}
*/

.heada {
	color: red;

}